<app-header></app-header>

<div class="breadcrumb-area breadcrumb-padding">
  <div class="container custom-container-one">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-contents">
          <h4 class="breadcrumb-contents-title"> Blog Details </h4>
          <ul class="breadcrumb-contents-list list-style-none">
            <li class="breadcrumb-contents-list-item"> <a href="index.html"
                class="breadcrumb-contents-list-item-link"> Home </a> </li>
            <li class="breadcrumb-contents-list-item"> <a routerLink="/blogs" class="breadcrumb-contents-list-item-link">
                Blog </a> </li>
            <li class="breadcrumb-contents-list-item"> Blog Details </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<section class="blog-details-area pat-100 pab-100">
  <div class="container">
    <div class="shop-contents-wrapper">
      <div class="row gy-5">
        <div class="col-xl-8 col-lg-8" >
          <div  class="blog-details-wrapper">
            <div class="single-blog-details">
              <div class="single-blog-details-content pt-0">
                <h2 class="single-blog-details-content-title fw-500"> Do they have any other concerns or needs that we
                  should keep in mind during the demo today? </h2>
                <div class="single-blog-details-content-tags mt-3">
                  <span class="single-blog-details-content-tags-item"> <a href="javascript:void(0)"> Category </a>
                  </span>
                  <span class="single-blog-details-content-tags-item"> {{blogDetail.postDate}} </span>
                </div>
                <div class="single-blog-details-thumb mt-4">
                  <img class="radius-5" src="{{blogDetail.imgTitle}}" alt="">
                </div>
                <p class="single-blog-details-content-para mt-4"> Mutley, you snickering, floppy eared hound. When
                  courage is needed, you’re never around. Those medals you wear on your moth-eaten chest should be
                  there for bungling at which you are best. So, stop that pigeon, stop
                  that pigeon, stop that pigeon, stop that pigeon, stop that pigeon, stop that pigeon, stop that
                  pigeon. Howwww! Nab him, jab him, tab him, grab him, stop that pigeon now. </p>
                <p class="single-blog-details-content-para mt-4"> One for all and all for one, Muskehounds are always
                  ready. One for all and all for one, helping everybody. One for all and all for one, it’s a pretty
                  story. Sharing everything with fun, that’s the way to be. One for
                  all and all for one, Muskehounds are always ready. One for all and all for one, helping everybody.
                  One for all and all for one, can sound pretty corny. If you’ve got a problem chum, think how it
                  could be. </p>
                <blockquote class="section-bg-1 mt-4">
                  <div class="blockquote-contents">
                    <h3 class="blockquote-contents-title color-heading fw-500"> What do you currently do to manage? Do
                      you feel that is getting the results you want?” </h3>
                  </div>
                </blockquote>
                <p class="single-blog-details-content-para mt-4"> One for all and all for one, Muskehounds are always
                  ready. One for all and all for one, helping everybody. One for all and all for one, it’s a pretty
                  story. Sharing everything with fun, that’s the way to be. One for
                  all and all for one, Muskehounds are always ready. One for all and all for one, helping everybody.
                  One for all and all for one, can sound pretty corny. If you’ve got a problem chum, think how it
                  could be. </p>
                <div class="blog-details-advertise center-text mt-4">
                  <a href="javascript:void(0)"> <img class="radius-5" src="assets/img/blog/advertise.jpg" alt=""> </a>
                </div>
                <p class="single-blog-details-content-para mt-4"> Dolor sit amet, consectetur adipiscing elit. Semper
                  cras elementum sit risus ornare ac. Sed donec malesuada elit vitae mollis cras quam. Ut risus
                  euismod etiam vel imperdiet pellentesque. Tristique neque lacinia non
                  interdum. Amet orci, neque, mauris, amet mattis ultrices iaculis eget lacus. Mi placerat sagittis
                  malesuada enim etiam at tellus. Sed et vitae enim nam a lacinia tristique nunc. Ac posuere enim
                  faucibus quis id
                  tellus rutrum sed proin. Faucibus turpis in scelerisque elementum mauris vestibulum. </p>
                <p class="single-blog-details-content-para mt-4"> Sed donec malesuada elit vitae mollis cras quam. Ut
                  risus euismod etiam vel imperdiet pellentesque. Tristique neque lacinia non interdum. Amet orci,
                  neque, mauris, amet mattis ultrices iaculis eget lacus. Mi placerat
                  sagittis malesuada enim etiam at tellus. Sed et vitae enim nam a lacinia tristique nunc. Ac posuere
                  enim faucibus quis id tellus rutrum sed proin. Faucibus turpis in scelerisque elementum mauris
                  vestibulum. </p>
              </div>
            </div>

            <div class="details-tag-area color-two pat-25 pab-50">
              <div class="row align-items-center">
                <div class="col-lg-6 mt-4">
                  <div class="blog-details-share-content">
                    <h4 class="blog-details-share-content-title"> Share: </h4>
                    <ul class="blog-details-share-social list-style-none">
                      <li class="blog-details-share-social-list">
                        <a class="blog-details-share-social-list-icon" href="javascript:void(0)"> <i
                            class="lab la-facebook-f"></i> </a>
                      </li>
                      <li class="blog-details-share-social-list">
                        <a class="blog-details-share-social-list-icon" href="javascript:void(0)"> <i
                            class="lab la-twitter"></i> </a>
                      </li>
                      <li class="blog-details-share-social-list">
                        <a class="blog-details-share-social-list-icon" href="javascript:void(0)"> <i
                            class="lab la-pinterest-p"></i> </a>
                      </li>
                      <li class="blog-details-share-social-list">
                        <a class="blog-details-share-social-list-icon" href="javascript:void(0)"> <i
                            class="lab la-youtube"></i> </a>
                      </li>
                      <li class="blog-details-share-social-list">
                        <a class="blog-details-share-social-list-icon" href="javascript:void(0)"> <i
                            class="lab la-instagram"></i> </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-6 mt-4">
                  <div class="blog-details-share-content right-align">
                    <h4 class="blog-details-share-content-title"> Tags: </h4>
                    <ul class="blog-details-tag list-style-none">
                      <li class="blog-details-tag-list"><a class="blog-details-tag-list-item"
                          href="javascript:void(0)"> New </a></li>
                      <li class="blog-details-tag-list"><a class="blog-details-tag-list-item"
                          href="javascript:void(0)"> Luxurious </a></li>
                      <li class="blog-details-tag-list"><a class="blog-details-tag-list-item"
                          href="javascript:void(0)"> Simple </a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>


            <div class="comment-area color-two pat-50 pab-50">
              <h3 class="details-section-title"> Comments(03) </h3>
              <div class="row">
                <div class="col-lg-12 mt-2">
                  <div class="comment-show-contents">
                    <ul class="comment-list list-style-none wow fadeInLeft" data-wow-delay=".1s">
                      <li>
                        <div class="blog-details-flex-content">
                          <div class="blog-details-thumb radius-10">
                            <img src="assets/img/blog/details-comment1.jpg" alt="">
                          </div>
                          <div class="blog-details-content">
                            <div class="blog-details-content-flex">
                              <div class="blog-details-content-item">
                                <h5 class="blog-details-content-title"> <a href="javascript:void(0)"> Riyad Hossain
                                  </a> </h5>
                                <span class="blog-details-content-date"> Jun 22, 2022 </span>
                              </div>
                              <a href="javascript:void(0)" class="btn-replay"> <i class="las la-reply-all"></i> Reply
                              </a>
                            </div>
                            <p class="blog-details-content-para"> Lorem ipsum dolor sit amet, consectetur adipiscing
                              elit. Sed a egestas leo. Aliquam ut ante lobortis tellus cursus pellentesque. Praesent
                              feugiat tellus quis aliquet </p>
                          </div>
                        </div>
                        <ul class="comment-list list-style-none wow fadeInLeft" data-wow-delay=".2s">
                          <li>
                            <div class="blog-details-flex-content">
                              <div class="blog-details-thumb radius-10">
                                <img src="assets/img/blog/details-comment2.jpg" alt="">
                              </div>
                              <div class="blog-details-content">
                                <div class="blog-details-content-flex">
                                  <div class="blog-details-content-item">
                                    <h5 class="blog-details-content-title"> <a href="javascript:void(0)"> Rajia Akter
                                      </a> </h5>
                                    <span class="blog-details-content-date"> Jun 23, 2022 </span>
                                  </div>
                                  <a href="javascript:void(0)" class="btn-replay"> <i class="las la-reply-all"></i>
                                    Reply </a>
                                </div>
                                <p class="blog-details-content-para"> Lorem ipsum dolor sit amet, consectetur
                                  adipiscing elit. Sed a egestas leo. Aliquam ut ante lobortis tellus cursus
                                  pellentesque. Praesent feugiat tellus quis aliquet </p>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </li>
                    </ul>
                    <ul class="comment-list list-style-none wow fadeInLeft" data-wow-delay=".3s">
                      <li>
                        <div class="blog-details-flex-content">
                          <div class="blog-details-thumb radius-10">
                            <img src="assets/img/blog/details-comment1.jpg" alt="">
                          </div>
                          <div class="blog-details-content">
                            <div class="blog-details-content-flex">
                              <div class="blog-details-content-item">
                                <h5 class="blog-details-content-title"> <a href="javascript:void(0)"> Bryn Colon </a>
                                </h5>
                                <span class="blog-details-content-date"> Jun 24, 2022 </span>
                              </div>
                              <a href="javascript:void(0)" class="btn-replay"> <i class="las la-reply-all"></i> Reply
                              </a>
                            </div>
                            <p class="blog-details-content-para"> Lorem ipsum dolor sit amet, consectetur adipiscing
                              elit. Sed a egestas leo. Aliquam ut ante lobortis tellus cursus pellentesque. Praesent
                              feugiat tellus quis aliquet </p>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <div class="btn-wrapper mt-4">
                      <a href="javascript:void(0)" class="btn-see-more"> Show More </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="comment-area color-two pat-50">
              <h3 class="details-section-title"> Post Your Comment </h3>
              <div class="row">
                <div class="col-lg-12 pat-20">
                  <div class="details-comment-content">
                    <div class="comments-flex-item">
                      <div class="single-commetns">
                        <label class="comment-label"> Your Name </label>
                        <input type="text" class="form--control radius-5" name="name" placeholder="Type Name">
                      </div>
                      <div class="single-commetns">
                        <label class="comment-label"> Email Address </label>
                        <input type="text" class="form--control radius-5" name="email" placeholder="Type Email">
                      </div>
                    </div>
                    <div class="single-commetns">
                      <label class="comment-label"> Comment </label>
                      <textarea name="message" class="form--control radius-5 form--message"
                        placeholder="Post Comments"></textarea>
                    </div>
                    <button type="submit" class="submit-btn radius-5 mt-4"> Post Comment </button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-xl-4 col-lg-4">
          <div class="blog-details-side">
            <div class="blog-details-side-item radius-10">
              <div class="blog-details-side-title open">
                <h5 class="title"> Recent Post </h5>
                <div class="blog-details-side-inner">
                  <ul class="recent-list list-style-none">
                    <li class="recent-list-item">
                      <div class="recent-list-thumb">
                        <a href="#0"> <img class="lazyloads radius-5" src="assets/img/blog/recent-post1.jpg" alt="">
                        </a>
                      </div>
                      <div class="recent-list-contents">
                        <h6 class="recent-list-title fs-16"> <a href="#0"> Choose From a Wide Range of Properties </a>
                        </h6>
                        <span class="recent-list-dates light-color fs-14 mt-2"> 21 Jun 2022 </span>
                      </div>
                    </li>
                    <li class="recent-list-item">
                      <div class="recent-list-thumb">
                        <a href="#0"> <img class="lazyloads radius-5" src="assets/img/blog/recent-post2.jpg" alt="">
                        </a>
                      </div>
                      <div class="recent-list-contents">
                        <h6 class="recent-list-title fs-16"> <a href="#0"> Choose From a Wide Range of Properties </a>
                        </h6>
                        <span class="recent-list-dates light-color fs-14 mt-2"> 22 Jun 2022 </span>
                      </div>
                    </li>
                    <li class="recent-list-item">
                      <div class="recent-list-thumb">
                        <a href="#0"> <img class="lazyloads radius-5" src="assets/img/blog/recent-post3.jpg" alt="">
                        </a>
                      </div>
                      <div class="recent-list-contents">
                        <h6 class="recent-list-title fs-16"> <a href="#0"> Choose From a Wide Range of Properties </a>
                        </h6>
                        <span class="recent-list-dates light-color fs-14 mt-2"> 24 Jun 2022 </span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="blog-details-side-item radius-10">
              <div class="blog-details-side-title open">
                <h5 class="title"> Tags </h5>
                <div class="blog-details-side-inner">
                  <ul class="tag-list list-style-none active-list">
                    <li class="tag-list-item">
                      <a class="tag-list-link" href="#0"> Low Price </a>
                    </li>
                    <li class="tag-list-item active">
                      <a class="tag-list-link" href="#0"> High Price </a>
                    </li>
                    <li class="tag-list-item">
                      <a class="tag-list-link" href="#0"> Big Room </a>
                    </li>
                    <li class="tag-list-item">
                      <a class="tag-list-link" href="#0"> Small Room </a>
                    </li>
                    <li class="tag-list-item">
                      <a class="tag-list-link" href="#0"> New </a>
                    </li>
                    <li class="tag-list-item">
                      <a class="tag-list-link" href="#0"> Discount </a>
                    </li>
                    <li class="tag-list-item">
                      <a class="tag-list-link" href="#0"> Luxurious </a>
                    </li>
                    <li class="tag-list-item">
                      <a class="tag-list-link" href="#0"> Normal </a>
                    </li>
                    <li class="tag-list-item">
                      <a class="tag-list-link" href="#0"> Sale </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<footer class="footer-area footer-bg-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="footer-wrapper">
          <div class="footer-wrapper-flex">
            <div class="footer-wrapper-single">
              <div class="footer-widget widget">
                <div class="footer-widget-contents">
                  <div class="footer-widget-logo">
                    <a href="index.html"> <img src="assets/img/03_logo.png" alt="logo"> </a>
                  </div>
                  <div class="footer-widget-inner mt-4">
                    <p class="footer-widget-contents-para"> Amet minim mollit non deserunt ullamco est sit aliqua
                      dolor do amet sint. Velit officia consequat duis enim velit. </p>
                    <div class="copyright-contents-items mt-5">
                      <div class="copyright-contents-single">
                        <div class="copyright-contents-single-flex">
                          <div class="copyright-contents-single-icon">
                            <i class="las la-phone"></i>
                          </div>
                          <div class="copyright-contents-single-details">
                            <span class="copyright-contents-single-details-title"> Have a question? </span>
                            <a href="tel:3104372766" class="copyright-contents-single-details-link"> 310-437-2766 </a>
                          </div>
                        </div>
                      </div>
                      <div class="copyright-contents-single">
                        <div class="copyright-contents-single-flex">
                          <div class="copyright-contents-single-icon">
                            <i class="las la-envelope"></i>
                          </div>
                          <div class="copyright-contents-single-details">
                            <span class="copyright-contents-single-details-title"> Have a question? </span>
                            <a href="https://bytesed.com/cdn-cgi/l/email-protection#8efbe0fcebefe2ceebf6efe3fee2eba0ede1e3"
                              class="copyright-contents-single-details-link"> <span class="__cf_email__"
                                data-cfemail="b6c3d8c4d3d7daf6d3ced7dbc6dad398d5d9db">[email&#160;protected]</span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-wrapper-single">
              <div class="footer-widget widget">
                <h3 class="footer-widget-title text-white"> Discounts, Newsletters </h3>
                <div class="footer-widget-inner mt-4">
                  <p class="footer-widget-para"> Get discounts and newsletters on our hotels in your email. We promise
                    to not spam. Unsubscribe anytime </p>
                  <div class="footer-widget-form mt-5">
                    <form action="#">
                      <div class="footer-widget-form-single">
                        <input class="footer-widget-form-control" type="text" placeholder="Enter Your Email">
                        <button type="submit"> Submit </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-navbar">
    <div class="container">
      <div class="footer-widget widget">
        <div class="footer-widget-nav">
          <ul class="footer-widget-nav-list list-style-none">
            <li class="footer-widget-nav-list-item">
              <a href="javascript:void(0)" class="footer-widget-nav-list-link"> About </a>
            </li>
            <li class="footer-widget-nav-list-item">
              <a href="javascript:void(0)" class="footer-widget-nav-list-link"> Jobs </a>
            </li>
            <li class="footer-widget-nav-list-item">
              <a href="javascript:void(0)" class="footer-widget-nav-list-link"> Blog </a>
            </li>
            <li class="footer-widget-nav-list-item">
              <a href="javascript:void(0)" class="footer-widget-nav-list-link"> Press </a>
            </li>
            <li class="footer-widget-nav-list-item">
              <a href="javascript:void(0)" class="footer-widget-nav-list-link"> Careers </a>
            </li>
            <li class="footer-widget-nav-list-item">
              <a href="javascript:void(0)" class="footer-widget-nav-list-link"> Terms of use </a>
            </li>
            <li class="footer-widget-nav-list-item">
              <a href="javascript:void(0)" class="footer-widget-nav-list-link"> Privacy Policy </a>
            </li>
            <li class="footer-widget-nav-list-item">
              <a href="javascript:void(0)" class="footer-widget-nav-list-link"> Contact </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-area footer-padding copyright-bg-1">
    <div class="container">
      <div class="copyright-contents">
        <div class="copyright-contents-flex">
          <div class="footer-widget-social">
            <ul class="footer-widget-social-list list-style-none justify-content-center">
              <li class="footer-widget-social-list-item">
                <a class="footer-widget-social-list-link" href="javascript:void(0)"> <i class="lab la-facebook-f"></i>
                </a>
              </li>
              <li class="footer-widget-social-list-item">
                <a class="footer-widget-social-list-link" href="javascript:void(0)"> <i class="lab la-twitter"></i>
                </a>
              </li>
              <li class="footer-widget-social-list-item">
                <a class="footer-widget-social-list-link" href="javascript:void(0)"> <i class="lab la-instagram"></i>
                </a>
              </li>
              <li class="footer-widget-social-list-item">
                <a class="footer-widget-social-list-link" href="javascript:void(0)"> <i class="lab la-youtube"></i>
                </a>
              </li>
            </ul>
          </div>
          <span class="copyright-contents-main"> © 2000-2022, All Rights Reserved by <a href="02_index.html"> Beyond
              Hotel </a> </span>
        </div>
      </div>
    </div>
  </div>
</footer>


<div class="back-to-top">
  <span class="back-top"> <i class="las la-angle-up"></i> </span>
</div>



<app-footer></app-footer>
