<header class="header-style-01">

  <nav class="navbar navbar-area navbar-border navbar-padding navbar-expand-lg">
    <div class="container custom-container-one nav-container">
      <div class="logo-wrapper">
        <a href="index.html" class="logo">
          <img src="assets/img/logo.png" alt="">
        </a>
      </div>
      <div class="responsive-mobile-menu d-lg-none">
        <a href="javascript:void(0)" class="click-nav-right-icon">
          <i class="las la-ellipsis-v"></i>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#hotel_booking_menu">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="hotel_booking_menu">
        <ul class="navbar-nav">
          <li class=" current-menu-item "><a routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}" routerLink="/home">Home</a></li>
          <li><a routerLinkActive="active" routerLink="/about"> About </a></li>

          <li><a routerLinkActive="active" routerLink="/blogs">Blog</a></li>


          <li><a routerLinkActive="active" routerLink="/contact"> Contact Us </a></li>
        </ul>
      </div>
      <div class="navbar-right-flex">

      </div>
      <div class="navbar-right-content show-nav-content">
        <div class="single-right-content">
          <div class="navbar-right-flex">

            <div *ngIf="isLoggedIn(); then loggedInUser; else loginButton"></div>
            <ng-template #loggedInUser>
              <span>
                <div class="navbar-author">
                  <div class="navbar-author-flex">
                    <div class="navbar-author-thumb">
                      <img class="profile-img" src="{{userProfile.image}}" alt="img">
                    </div>
                    <div class="navbar-author-name">
                      <h6 class="navbar-author-name-title">{{ getLoggedInUser().name }} </h6>
                    </div>
                  </div>
                  <div class="navbar-author-wrapper">
                    <div class="navbar-author-wrapper-list">
                      <a (click)="routeProfile()" class="navbar-author-wrapper-list-item"> My Profile </a>
                      <span class="navbar-author-wrapper-list-item" (click)="logout()"> Log Out </span>
                    </div>
                  </div>
                </div>
              </span>
            </ng-template>
            <ng-template #loginButton>

              <div class="navbar-right-btn">
                <a routerLink="/login"> Log In </a>
              </div>
              <div class="btn-wrapper">
                <a routerLink="/signup" class="cmn-btn btn-bg-1 radius-10"> Sign Up </a>
              </div>
            </ng-template>

          </div>
        </div>
      </div>
    </div>
  </nav>

</header>
