<footer class="footer-area footer-area-one footer-border-round footer-bg-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="footer-wrapper pat-100 pab-100">
          <div class="footer-contents center-text">
            <div class="footer-contents-logo">
              <a href="index.html" class="footer-contents-logo-img"> <img src="assets/img/logo-favicon.png" alt="logo">
              </a>
              <h3 class="footer-contents-logo-title text-white"> <a href="index.html"> BEYOND HOTEL </a> </h3>
              <p class="footer-contents-logo-para mt-3"> We are delighted to assist you. See you later. </p>
            </div>
            <div class="footer-widget widget">
              <div class="footer-widget-social mt-4">
                <ul class="footer-widget-social-list list-style-none justify-content-center">
                  <li class="footer-widget-social-list-item">
                    <a class="footer-widget-social-list-link" href="javascript:void(0)"> <i
                        class="lab la-facebook-f"></i> </a>
                  </li>
                  <li class="footer-widget-social-list-item">
                    <a class="footer-widget-social-list-link" href="javascript:void(0)"> <i class="lab la-twitter"></i>
                    </a>
                  </li>
                  <li class="footer-widget-social-list-item">
                    <a class="footer-widget-social-list-link" href="javascript:void(0)"> <i
                        class="lab la-instagram"></i> </a>
                  </li>
                  <li class="footer-widget-social-list-item">
                    <a class="footer-widget-social-list-link" href="javascript:void(0)"> <i class="lab la-youtube"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="footer-widget widget">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-area footer-padding copyright-bg-1">
    <div class="container">
      <div class="copyright-contents">
        <div class="copyright-contents-flex">
          <div class="copyright-contents-items">
            <div class="copyright-contents-single">
              <div class="copyright-contents-single-flex">
                <div class="copyright-contents-single-icon">
                  <i class="las la-phone"></i>
                </div>
                <div class="copyright-contents-single-details">
                  <span class="copyright-contents-single-details-title"> Have a question? </span>
                  <a href="tel:3104372766" class="copyright-contents-single-details-link"> +84 144752739 </a>
                </div>
              </div>
            </div>

          </div>
          <div class="copyright-contents-single">
            <div class="copyright-contents-single-flex">
              <div class="copyright-contents-single-icon">
                <i class="las la-envelope"></i>
              </div>
              <div class="copyright-contents-single-details">
                <span class="copyright-contents-single-details-title"> Have a question? </span>
                <a href="https://bytesed.com/cdn-cgi/l/email-protection#a5d0cbd7c0c4c9e5c0ddc4c8d5c9c08bc6cac8"
                  class="copyright-contents-single-details-link"> <span class="__cf_email__"
                    data-cfemail="94e1fae6f1f5f8d4f1ecf5f9e4f8f1baf7fbf9">beyondhotel@outlook.com</span> </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
