<app-header></app-header>
<section class="confirmation-area section-bg-2 pat-100 pab-100">
  <div class="container" *ngIf="resultCode =='0' || resultCode =='00';else resultFailed">
    <div class="confirmation-contents center-text">
      <div class="confirmation-contents-icon">
        <i class="las la-check"></i>
      </div>
      <h4 class="confirmation-contents-title"> Payment successfull </h4>
      <p class="confirmation-contents-para"> Your reservation <a href="javascript:void(0)">
        </a> has been confirmed. Please check your mail for reservation invoice. Thanks for
        reserving our hotel! </p>
      <div class="btn-wrapper flex-btn mt-4 mt-lg-5">
        <a routerLink="/home" class="cmn-btn btn-outline-1 color-one"> Back to Home </a>
        <a routerLink="/home" class="cmn-btn btn-bg-1"> <span class="icon"><i class="las la-cloud-download-alt"></i></span>
          Download Invoice </a>
      </div>
    </div>
  </div>
  <ng-template #resultFailed>
    <div class="container">
      <div class="confirmation-contents center-text">
        <div style="background-color: rgb(218, 46, 46);" class="confirmation-contents-icon">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <h4 class="confirmation-contents-title">Payment failed!</h4>
        <h4 *ngIf="vnp_ResponseCode !== '00'" class="confirmation-contents-title"> Your payment is denied! </h4>
        <div class="btn-wrapper flex-btn mt-4 mt-lg-5">
          <a routerLink="/home" class="cmn-btn btn-outline-1 color-one"> Back to Home </a>
        </div>
      </div>
    </div>
  </ng-template>
</section>

<app-footer></app-footer>
