.js-select-room {
  width: 100%;
  height: 55px;
  line-height: 55px;
  font-size: 15px;
  font-weight: 400;
  color: var(--paragraph-color);
  border: 1px solid var(--input-color);
  -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.01);
          box-shadow: 0 0 10px rgba(255, 255, 255, 0.01);
  -webkit-transition: 300ms;
  transition: 300ms;
  padding: 0 30px 0 15px;
}
.search-click-icon{
  border: none;
}
.container-search{
  padding: 30px;
  display: block;
  gap: 30px;
  grid-template-columns: repeat(3,1fr);
}
.col{
  height: 350px;
  margin: 5px;
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.hotel-view-contents-bottom{
  font-size: 15px;

}
img.animation{

}
.discountprice{
  text-decoration: line-through;
}

.margin-title{
  margin-top: 50px;
  margin-bottom: 50px;
}
// Weather

.width-container{
  width: 500px !important;
}
.single-blog{
  display: grid;
  place-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.img:hover{
  margin-bottom: 3rem;
  border-radius: 20px;
}
.hot-sale-sticker{
  top: 6rem;
  left: -17rem;
  text-align: center;
  padding: 20px;
  position: relative;
  z-index: 1;
  width: 120px;
  height: 120px;
}
.hot-sale-sticker span{
  margin: 20px;
  width: 120px;
  border-radius: 50%;
  background-color: #ca1919;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
.hotel-view-contents-title{
  margin-left: 2rem;
}
.discount-container{
  display: flex;

  align-items: center;
  position: absolute;
  margin-bottom: 3rem;
}
.container-sale{
  width: 100%;
  height: 500px;
}
.discount-containe .single-blog {
  margin: 0 2rem;
}



