<div class="wrapper">
    <app-sidebar></app-sidebar>
  
    <div class="content-page">
      <div class="content">
        <app-header></app-header>
          <div class="content">
           
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">eCommerce</a></li>
                                    <li class="breadcrumb-item active">Checkout</li>
                                </ol>
                            </div>
                            <h4 class="page-title">Checkout</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

                                <!-- Checkout Steps -->
                                
                                <!-- Steps Information -->
                                <div class="tab-content">

                                    <!-- Billing Content-->
                                    <div class="tab-pane show active" id="billing-information">
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <h4 class="mt-2">Checkout information</h4>

                                                <p class="text-muted mb-4">Fill the form below in order to
                                                    send you the order's invoice.</p>

                                                <form [formGroup]="checkoutForm" (ngSubmit)="invoiceCreate()">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="mb-3">
                                                                <label for="billing-first-name" class="form-label">First Name</label>
                                                                <input class="form-control" formControlName="name" type="text" placeholder="Enter your first name" id="billing-first-name">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="mb-3">
                                                                <label for="billing-last-name" class="form-label">Email</label>
                                                                <input class="form-control" formControlName="email" type="email" placeholder="Enter your address" id="billing-last-name">
                                                            </div>
                                                        </div>
                                                    </div> <!-- end row -->
                                                   
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <div class="mb-3">
                                                                <label for="billing-phone" class="form-label"> Address <span class="text-danger">*</span></label>
                                                                <input class="form-control" formControlName="address" type="text" placeholder="(xx) xxx xxxx xxx" id="billing-phone">
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="mb-3">
                                                                <label for="billing-phone" class="form-label">Phone <span class="text-danger">*</span></label>
                                                                <input class="form-control" formControlName="phoneNumber" type="text" placeholder="(xx) xxx xxxx xxx" id="billing-phone">
                                                            </div>
                                                        </div>
                                                    </div> <!-- end row -->
                                                   
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="mb-3">
                                                                
                                                            </div>

                                                            <div class="mb-3 mt-3">
                                                                <label for="example-textarea" class="form-label">Order Notes:</label>
                                                                <textarea class="form-control" id="example-textarea" rows="3" placeholder="Write some note.."></textarea>
                                                            </div>
                                                        </div>
                                                    </div> <!-- end row -->

                                                    <div class="row mt-4">
                                                        <div class="col-sm-6">
                                                            <a href="apps-ecommerce-shopping-cart.html" class="btn text-muted d-none d-sm-inline-block btn-link fw-semibold">
                                                                <i class="mdi mdi-arrow-left"></i> Back to Booking Room </a>
                                                        </div> <!-- end col -->
                                                        <div class="col-sm-6">
                                                            <div class="text-sm-end">
                                                                <a (click)="invoiceCreate()" class="btn btn-danger">
                                                                    <i class="mdi mdi-truck-fast me-1"></i> Checkout </a>
                                                            </div>
                                                        </div> <!-- end col -->
                                                    </div> <!-- end row -->
                                                </form>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="border p-3 mt-4 mt-lg-0 rounded">
                                                    <h4 class="header-title mb-3">Checkout Information </h4>
    
                                                    <div class="table-responsive">
                                                        <table class="table table-centered mb-0">
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <p class="m-0 d-inline-block align-middle">
                                                                            <a href="apps-ecommerce-products-details.html" class="text-body fw-semibold">Room Information</a>
                                                                            <br>
                                                                        </p>
                                                                    </td>
                                                                    <td class="text-end">
                                                                        $743.30
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <p class="m-0 d-inline-block align-middle">
                                                                            <a href="apps-ecommerce-products-details.html" class="text-body fw-semibold">Check In</a>
                                                                            <br>
                                                                        </p>
                                                                    </td>
                                                                    <td class="text-end">
                                                                        $743.30
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <p class="m-0 d-inline-block align-middle">
                                                                            <a href="apps-ecommerce-products-details.html" class="text-body fw-semibold">Check Out</a>
                                                                            <br>
                                                                        </p>
                                                                    </td>
                                                                    <td class="text-end">
                                                                        $198.00
                                                                    </td>
                                                                </tr>
                                                                
                                                                <tr class="text-end">
                                                                    <td>
                                                                        <h6 class="m-0">Sub Total:</h6>
                                                                    </td>
                                                                    <td class="text-end">
                                                                        $1071.29
                                                                    </td>
                                                                </tr>
                                                                <tr class="text-end">
                                                                    <td>
                                                                        <h6 class="m-0">Shipping:</h6>
                                                                    </td>
                                                                    <td class="text-end">
                                                                        FREE
                                                                    </td>
                                                                </tr>
                                                                <tr class="text-end">
                                                                    <td>
                                                                        <h5 class="m-0">Total:</h5>
                                                                    </td>
                                                                    <td class="text-end fw-semibold">
                                                                        $1071.29
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!-- end table-responsive -->
                                                </div> <!-- end .border-->
    
                                            </div> <!-- end col -->            
                                        </div> <!-- end row-->
                                    </div>
                                    <!-- End Billing Information Content-->

                                    <!-- Shipping Content-->
                                  
                                    <!-- End Shipping Information Content-->

                                    <!-- Payment Content-->
                                   
                                    <!-- End Payment Information Content-->

                                </div> <!-- end tab content-->

                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col -->
                </div>
                <!-- end row-->

            </div> <!-- container -->

      </div>
    </div>
  