<div class="container">

  <section class="login-area pat-00 pab-100  ">
    <div class="container custom-container-one ">
      <div class="login-wrapper-flex">
        <div class="login-wrapper-contents login-shadow1 login-padding">
          <h2 class="single-title"> Reset Password </h2>
          <form class="login-wrapper-form custom-form" action="#" [formGroup]="form" (ngSubmit)="onSubmit()">

            <div class="single-input mt-3">
              <label class="label-title mb-3"> New Password </label>
              <input class="form--control" [type]="password" type="password" placeholder="New Password" formControlName="newPassword"
                [ngClass]="{ 'is-invalid': submitted && f['newPassword'].errors  }">

              <div class="icon toggle-password">
                <i (click)="OnClick()" style="margin-left: -30px; cursor: pointer;">
                  <i class="fa fa-eye" aria-hidden="true" *ngIf="show"></i>
                  <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="!show"></i>
                </i>

              </div>
              <div *ngIf="submitted && f['newPassword'].errors  " class="invalid-feedback">
                <div class="" *ngIf="submitted &&  f['newPassword'].errors['required']">
                  Password is required.
                </div>
                <div class="" *ngIf="f['newPassword'].errors['required']">
                  Password must be at least 8 characters.
                </div>
                <div class="" *ngIf="f['newPassword'].errors['pattern']">
                  At least one letter and one number.
                </div>
                <div *ngIf="f['newPassword'].errors['pattern']">It must not contain space</div>

              </div>
            </div>
            <div class="single-input mt-3">
              <label class="label-title mb-3"> Confirm Password</label>
              <input class="form--control"  [type]="password" type="password" formControlName="confirmNewPassword"
              placeholder="Confirm Password"
              [ngClass]="{ 'is-invalid':submitted &&  f['confirmNewPassword'].errors }"
              required>
              <div class="icon toggle-password">
                <i (click)="OnClick()" style="margin-left: -30px; cursor: pointer;">
                  <i class="fa fa-eye" aria-hidden="true" *ngIf="show"></i>
                  <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="!show"></i>
                </i>

              </div>

              <div *ngIf="submitted && f['confirmNewPassword'].errors  " class="invalid-feedback">
                <div class="" *ngIf="submitted &&  f['confirmNewPassword'].errors['required']">
                  Password is required.
                </div>
                <div class="" *ngIf="f['confirmNewPassword'].errors['required']">

                </div>
                <div class="" *ngIf="f['confirmNewPassword'].errors['pattern']">
                  At least one letter and one number.
                </div>
                <div *ngIf="f['confirmNewPassword'].errors['passwordMismatch']">Password not match!</div>


            </div>
            </div>
            <button class="submit-btn w-100 mt-4" type="submit"> Submit Now </button>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
