<app-sidebar></app-sidebar>
<div class="body-wrapper">
  <app-header></app-header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h4 class="page-title">Products</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row mb-2">
              <div class="col-sm-4">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                  class="btn btn-danger mb-2"><i class="mdi mdi-plus-circle me-2"></i> Add Room</button>
              </div>
              <div class="col-sm-8">
                <div class="text-sm-end">
                  <button type="button" class="btn btn-success mb-2 me-1"><i class="mdi mdi-cog-outline"></i></button>
                  <button type="button" class="btn btn-light mb-2 me-1">Import</button>
                  <button type="button" class="btn btn-light mb-2">Export</button>
                </div>
              </div><!-- end col-->
            </div>

            <div class="table-responsive">
              <table class="table border customize-table mb-0 align-middle">
                <thead class="text-dark fs-4 align-middle">
                  <tr>
                    <th class="all" style="width: 20px;">
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="customCheck1">
                        <label class="form-check-label" for="customCheck1">&nbsp;</label>
                      </div>
                    </th>
                    <th class="all">Room name</th>
                    <th>Roomtype name</th>
                    <th>Price</th>
                    <th>Discount price</th>
                    <th>Simple bed</th>
                    <th>Double bed</th>
                    <th>People number</th>
                    <th>Status</th>
                    <th style="width: 135px;">Action</th>
                  </tr>
                </thead>
                <tbody *ngFor="let room of rooms; let i = index;" class="align-middle">
                  <tr *ngIf="room">
                    <td>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="customCheck2">
                        <label class="form-check-label" for="customCheck2">&nbsp;</label>
                      </div>
                    </td>
                    <td>
                      <p class="m-0 d-inline-block align-middle font-16">
                        <a href="apps-ecommerce-products-details.html" class="text-body fw-semibold">{{room.name}}</a>
                        <br>
                        <i class="ti ti-star text-warning"></i>
                        <i class="ti ti-star text-warning"></i>
                        <i class="ti ti-star text-warning"></i>
                      </p>
                    </td>
                    <td>{{room.roomTypeName}}</td>
                    <td>
                      {{room.currentPrice}}
                    </td>
                    <td>
                      {{room.discountPrice == null?0:room.discountPrice}}
                    </td>
                    <td>
                      {{room.numberOfSimpleBed}}
                    </td>
                    <td>
                      {{room.numberOfDoubleBed}}
                    </td>
                    <td>
                      {{room.peopleNumber}}
                    </td>
                    <td>
                      <div *ngIf="room.isActive; else inactiveBadge">
                        <span
                          class="badge bg-light-success text-success fw-semibold fs-2 gap-1 d-inline-flex align-items-center"><i
                            class="ti ti-circle fs-3"></i>active</span>
                      </div>
                      <ng-template #inactiveBadge>
                        <span class="badge bg-light text-dark fw-semibold fs-2 gap-1 d-inline-flex align-items-center"><i
                            class="ti ti-clock-hour-4 fs-3"></i>close</span>
                      </ng-template>
                    </td>
                    <td>
                      <div class="dropdown dropstart">
                        <a href="#" class="text-muted" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="ti ti-dots fs-5"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <li>
                            <a class="dropdown-item d-flex align-items-center gap-3" href="#"><i
                                class="fs-4 ti ti-plus"></i>Add</a>
                          </li>
                          <li>
                            <a class="dropdown-item d-flex align-items-center gap-3" href="#" data-bs-toggle="modal"
                              data-bs-target="#staticBackdrop2"><i class="fs-4 ti ti-edit"></i>Edit</a>
                          </li>
                          <li>
                            <a class="dropdown-item d-flex align-items-center gap-3" href="#" (click)="deleteRoom(room.id)"><i
                                class="fs-4 ti ti-trash"></i>Delete</a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <div *ngIf="!room">
                      Room not found.
                    </div>
                  </tr>
                </tbody>
              </table>
            </div>
          </div> <!-- end card-body-->
        </div> <!-- end card-->
      </div> <!-- end col -->
    </div>
  </div>
</div>
<!-- Modal CREATE ROOM -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add new room</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="  page-wrapper">
          <div class="content container-fluid">
            <div class="page-header">
              <div class="row align-items-center">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <form [formGroup]="roomForm">
                  <div class="row formtype mb-3">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="mb-1">Room Number</label>
                        <input type="text" class="form-control" formControlName="RoomNumber">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="mb-1">Room Name</label>
                        <input type="text" class="form-control" formControlName="Name">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="mb-1">Active</label>
                        <select class="form-select mr-sm-2" formControlName="IsActive" id="IsActive" name="IsActive">
                          <option [ngValue]="true">Active</option>
                          <option [ngValue]="false">Closed</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row formtype mb-3">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="mb-1">Simple Bed</label>
                        <input type="text" class="form-control" formControlName="NumberOfSimpleBed">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="mb-1">Double Bed</label>
                        <input type="text" class="form-control" formControlName="NumberOfDoubleBed">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="mb-1">RoomTypeId</label>
                        <select class="form-select mr-sm-2" id="RoomTypeId" formControlName="RoomTypeId">
                          <option>Select</option>
                          <option *ngFor="let roomType of roomTypes" value="{{roomType.id}}">
                            {{roomType.typeName}}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row formtype mb-3">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="mb-1">People Number</label>
                        <input type="text" class="form-control" formControlName="PeopleNumber">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="mb-1">Price</label>
                        <input type="text" formControlName="CurrentPrice" class="form-control" id="CurrentPrice">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="mb-1">File Upload</label>
                        <div class="form-group mb-3">
                          <input type="file" id="formFile" class="form-control" formControlName="RoomPicture" name="RoomPicture"
                            accept=".png, .jpg" #file (change)="uploadFile(file.files)">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row formtype mb-3">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="mb-1">File Upload</label>
                        <div class="form-group mb-3">
                          <input type="file" id="formFile" class="form-control" formControlName="RoomPictures" name="RoomPictures"
                            accept=".png, .jpg" multiple #file (change)="uploadFileDetail(file.files)">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="mb-1">Description</label>
                        <textarea class="form-control" rows="5" id="comment" name="text" formControlName="Description"></textarea>
                      </div>
                    </div>
                  </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" (click)="addRoom(roomForm)" class="btn btn-primary">Add</button>
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
    </div>
  </div>
</div>
</div>
<!-- Modal EDIT ROOM -->
<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="  page-wrapper">
          <div class="content container-fluid">
            <div class="page-header">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="page-title mt-5">Edit Room</h3>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <form [formGroup]="roomForm">
                  <div class="row formtype mb-3">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="mb-1">Room Name</label>
                        <input type="text" class="form-control" formControlName="Name">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="mb-1">Room Number</label>
                        <input type="text" class="form-control" formControlName="RoomNumber">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="mb-1">Active</label>
                        <select class="form-control" formControlName="IsActive" id="sel1" name="sellist1">
                          <option>Select</option>
                          <option [ngValue]="true">True</option>
                          <option [ngValue]="false">False</option>
                        </select>
                      </div>
                    </div>
                    <!-- <div class="col-md-4">
                      <div class="form-group">
                        <label class="mb-1">Non</label>
                        <select class="form-control" id="sel2" name="sellist1">
                          <option>Select</option>
                          <option>AC</option>
                          <option>NON-AC</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="mb-1">Food</label>
                        <select class="form-control" id="sel3" name="sellist1">
                          <option>Select</option>
                          <option>Free Breakfast</option>
                          <option>Free Lunch</option>
                          <option>Free Dinner</option>
                          <option>Free Breakfast & Dinner</option>
                          <option>Free Welcome Drink</option>
                          <option>No Free Food</option>
                        </select>
                      </div>
                    </div> -->
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="mb-1">Bed Count</label>
                        <input type="text" class="form-control" formControlName="RoomNumber">
                      </div>
                    </div>
                    <!-- <div class="col-md-4">
                      <div class="form-group">
                        <label class="mb-1">Charges For cancellation</label>
                        <select class="form-control" id="sel4" name="sellist1">
                          <option>Select</option>
                          <option>Free</option>
                          <option>5% Before 24Hours</option>
                          <option>No Cancellation Allow</option>
                        </select>
                      </div>
                    </div> -->
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="mb-1">Price</label>
                        <input type="text" formControlName="CurrentPrice" class="form-control" id="usr">
                      </div>
                    </div>
                    <!-- <div class="col-md-4">
                      <div class="form-group">
                        <label class="mb-1">Discount </label>
                        <input type="text" class="form-control"    formControlName="discountPrice" id="usr1">
                      </div>
                    </div> -->
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="mb-1">File Upload</label>
                        <div class="form-group mb-3">
                          <input type="text" id="image" class="form--control" formControlName="RoomPicture" name="image">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="mb-1">Description</label>
                        <textarea class="form-control" rows="5" id="comment" name="text" formControlName="Description"></textarea>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" (click)="addRoom(roomForm)" class="btn btn-primary">Add</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
