<div  class="section-title center-text sale-heading margin-title">
  <h3 class="title"> Hot sales room ! </h3>
  <div class="section-title-line"> </div>
</div>

<div class="container" data-aos="fade-up"
data-aos-anchor-placement="top-bottom">
  <div class="row-sale">
  <div class="employee-container"  *ngFor="let room of discountRoom" >
        <div class="employee" >

          <div *ngIf="room!=undefined" class="hotel-view-contents-review star-sale"> <i class="las la-star"></i> {{room.starSum}}
            <span class="hotel-view-contents-review-count" > ({{room.starAmount}})</span> </div>
          <div class="employee-image">
            <a routerLink="/room-detail/{{room.id}}">
              <img [src]="room.roomPicture" class="img-fluid d-block m-auto" alt="employee-image">
            </a>
            </div>
          <div class="employee-details">
            <div class="employee-name">
              <h1 class="text-center">{{room.name}}<br><span class="employee-role">{{room.discountPrice | vndCurrency}}</span>
                <br>
                <span class="employee-role discountprice">{{room.currentPrice | vndCurrency}}</span>
              </h1>

              </div>
            <div class="employee-social-link">
                <ul>
                  <li>
                    <div class="btn-wrapper">
                      <a routerLink="/checkout/{{room.id}}" class="cmn-btn btn-bg-1 btn-small"> Reserve Now </a>
                    </div>
                  </li>

              </ul>
          </div>
          </div>
        </div>

      </div>
    </div>
</div>
