<div class="btn-nof" style="position: relative;">
  <button type="button" class="button-default show-notifications active js-show-notifications" id="notification_icon">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="32"
      viewBox="0 0 30 32" style="width: 24px;">
      <defs>
        <g id="icon-bell">
          <path class="path1"
            d="M15.143 30.286q0-0.286-0.286-0.286-1.054 0-1.813-0.759t-0.759-1.813q0-0.286-0.286-0.286t-0.286 0.286q0 1.304 0.92 2.223t2.223 0.92q0.286 0 0.286-0.286zM3.268 25.143h23.179q-2.929-3.232-4.402-7.348t-1.473-8.652q0-4.571-5.714-4.571t-5.714 4.571q0 4.536-1.473 8.652t-4.402 7.348zM29.714 25.143q0 0.929-0.679 1.607t-1.607 0.679h-8q0 1.893-1.339 3.232t-3.232 1.339-3.232-1.339-1.339-3.232h-8q-0.929 0-1.607-0.679t-0.679-1.607q3.393-2.875 5.125-7.098t1.732-8.902q0-2.946 1.714-4.679t4.714-2.089q-0.143-0.321-0.143-0.661 0-0.714 0.5-1.214t1.214-0.5 1.214 0.5 0.5 1.214q0 0.339-0.143 0.661 3 0.357 4.714 2.089t1.714 4.679q0 4.679 1.732 8.902t5.125 7.098z" />
        </g>
      </defs>
      <g fill="#000000">
        <use xlink:href="#icon-bell" transform="translate(0 0)"></use>
      </g>
    </svg>
    <div class="notifications-count js-count">
      <span style="transform: translateY(-2px);">{{count_nof}}</span>
    </div>
  </button>
  <div class="notifications js-notifications">
    <h3>Notifications</h3>
    <span *ngIf="count_nof == 0; else count_nof_exists" class="">You don't have notifications</span>
    <ng-template #count_nof_exists>
    <ul class="notifications-list">
        <div *ngFor="let item of items_nof, let i = index">
          <li class="item js-item " *ngIf="item.status == true;else status_false">
            <div class="details">
              <span class="title">{{item.title}}</span>
              <p>{{item.description}}</p>
              <span class="date">{{item.createAt}}</span>
            </div>
            <button type="button" class="button-default button-dismiss js-dismiss" (click)="deleteNotification(item.id, i)">x</button>
          </li>
          <ng-template #status_false>
            <li class="item js-item expired" data-id="1">
              <div class="details">
                <span class="title">{{item.title}}</span>
                <p>{{item.description}}</p>
                <span class="date">{{item.createAt}}</span>
              </div>
              <button type="button" class="button-default button-dismiss js-dismiss" (click)="deleteNotification(item.id, i)">x</button>
            </li>
          </ng-template>
        </div>
      </ul><a href="#" class="show-all">Show all notifications</a>
    </ng-template>
  </div>

</div>
