
<div class="wrapper">
    <app-sidebar></app-sidebar>
    <div class="content-page">
      <div class="content">
        <app-header></app-header>
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Beyond</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Managements</a></li>
                            <li class="breadcrumb-item active">Employee</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Employee</h4>
                </div>
            </div>
          </div>
          <!-- end page title -->
  
          <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-sm-4">
                                <a data-bs-toggle="modal" data-bs-target="#modal-detail2" class="btn btn-danger mb-2"><i class="mdi mdi-plus-circle me-2"></i> Add Employee</a>
                            </div>
                            <div class="col-sm-8">
                                <div class="text-sm-end">
                                    <!-- <button type="button" class="btn btn-light mb-2 me-1">Import</button>
                                    <button type="button" class="btn btn-light mb-2">Export</button> -->
                                </div>
                            </div><!-- end col-->
                        </div>
  
                        <div class="table-responsive">
                            <table class="table table-centered table-striped dt-responsive nowrap w-100" id="products-datatable">
                                <thead>
                                    <tr>
                                        <th style="width: 20px;">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="customCheck1">
                                                <label class="form-check-label" for="customCheck1">&nbsp;</label>
                                            </div>
                                        </th>
                                        <th>Employee</th>
                                        <th>Phone Number</th>
                                        <th>Email</th>
                                        <th>Address</th>
                                        <th>Create Date</th>
                                        <th>Status</th>
                                        <th style="width: 75px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   
                                    <tr *ngFor="let item of Accounts; let i = index">
                                        <td>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="customCheck13">
                                                <label class="form-check-label" for="customCheck13">&nbsp;</label>
                                            </div>
                                        </td>
                                        <td class="table-user">
                                            <img src="{{item.image}}" alt="table-user" class="me-2 rounded-circle">
                                            <a href="javascript:void(0);" class="text-body fw-semibold">{{item.name}}</a>
                                        </td>
                                        <td>
                                          {{item.phoneNumber}}
                                        </td>
                                        <td>
                                          {{item.email}}
                                        </td>
                                        <td>
                                          {{item.address}}
                                        </td>
                                        <td>
                                           {{item.createdAt |  date:'fullDate'}}
                                        </td>
                                        <td>
                                          <div *ngIf="item.emailConfirmed; else inactiveBadge">
                                              <span class="badge bg-success">Active</span>
                                          </div>
  
                                          <ng-template #inactiveBadge>
                                              <span class="badge bg-danger">Inactive</span>
                                          </ng-template>
  
                                        </td>
  
                                        <td>
                                            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                                            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col -->
  
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <!-- Modal create employee -->
<div id="modal-detail2" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-top modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="topModalLabel">Create an employee</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
        </div>
        <div class="modal-body">
            <app-signup></app-signup>
        </div>
      </div>
    </div>
  </div>